h1{
	font-size:29px;
	color:#ff3600;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	line-height:32px;
	text-transform:uppercase;
}

h2{
	font-size:18px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	background-color:#f56101;
	padding:16px;
	border:0px;
}

h3{
	font-size:18px;
	color:#1e1e1e;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

h4{
	font-size:17px;
	color:#1e1e1e;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

h5{
	font-size:17px;
	color:#ff3600;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

h6{
	font-size:23px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

p{
	font-family: 'Open Sans', sans-serif;
}

a{
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#fff;
}

blockquote.small {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}

#top{
	width:100%;
	display: block;
    float: left;
    margin: 0;
	background-color:#fff;
	border-bottom:2px solid #fff;
}

#areatitulo{
	text-align:right;
	padding:12px;
}

#textotitulo{
	margin-top:-10px;
	color:#969595;
	font-size:18px;
}

#top_formulario{
    display: block;
    float: left;
    margin: 0 3px -9px;
	padding: 15px;
	width: 98.1%;
	text-align:center;
	border-radius: 20px 20px 0px 0px;
	background-color:#1e1e1e;
	color:#fff;
}

#formulario{
    background-color:#ccc;
	padding:15px;
	color:#1e1e1e;
	border-radius: 0px 0px 20px 20px;
}

#conteudo{
	background-color:#fff;
	padding:20px;
	border-radius: 20px;
}

#chamada{
	font-size:21px;
	line-height:26px;
	font-weight:700;
}

#agradecimento{
	background-color:#ff3600;
	padding:15px;
	color:#fff;
	text-align:center;
}

label, input,textarea,button{
	width:100%;
}

textarea{
	height:100px;
}

#send_message{
	font-size: 16px;
	margin-top: 10px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

button{
	font-size:20px;
	margin-top:10px;
}

body{
	margin: 0;
	/* [disabled]padding:0 0 0 0; */
	background: url("../images/bg.jpg") no-repeat scroll center top #fff;
	background-color: #fff;
	font: normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
	text-shadow: 0 0 1px transparent; /* google font pixelation fix */
	color:#666;
}

.grid{
	max-width:900px;
	padding:0;
}

.icons{
	font-family: 'Open Sans', sans-serif;
}

#footer{
	text-align:center;
	padding:20px;
	margin:0;
	border-top:1px solid #ddd;
	color:#fff;
	font-size:0.8em;
	position: relative;
	top:20px;
	left:0;
	background:#fff;
	background-color:#1e1e1e;
}

#footer.p{
	color:#fff;
	font-size:12px;
}

img.full-width {
    margin: 0;
}

.gallery a {
    margin: 0;
    padding: 4px;
}

strong{
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	color:#1e1e1e;
	text-align:center;
	font-weight:400;
}

#icondestaque{
	color:#fff;
}

#iconwhatss{
	color:#29a71a;
}

#logotopo{
	text-align:left;
}

#centralizar{
	text-align:center;
}

#mobilebanner{
	display:none;
}

/* Top Buttom */

#toTop{
	position: fixed;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
    border-radius: 5px;
	background-color:#f56101;
	font-size:14px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	padding:7px;
	border:0px;	
}

#toTop .fa {
	margin-right: 5px;
	margin-left: 5px;
}

@media screen and (max-width:768px) {
	#logotopo{
		text-align:center;
	}

	h1{
		font-size:27px;
		line-height:30px;
	}
	
	h2{
		font-size:16px;
		padding:12px;
	}

	h4{
		font-size:15px;
	}

	h6{
		font-size:18px;
	}
	
	#areatitulo{
		text-align:center;
		padding:12px;
	}
	
	#chamada{
		font-size:17px;
		line-height:20px;
	}
	
	#top_formulario{
    	margin: 0 0px -9px;
    	padding: 12px;
    	width: 100%;
	}
	
	body{
		background: none;
		background-color: #fff;
	}

	#agradecimento{
		padding:10px;

	}
	
	#mobilebanner{
		display:block;
		max-width:588px; 
    	margin: auto;
	}
	
	#footer{
		padding:5px;
		top:5px;
	}
}

@media screen and (max-width:1024px) {
	h2{
		font-size:16px;
		padding:12px;
	}

	#chamada{
		font-size:17px;
		line-height:20px;
	}
}